<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes List</title>
</head>
<body>
    <h1>Recipes</h1>
    <ul>
        <% recipes.forEach(recipe => { %>
            <li><%= recipe.name %> - <%= recipe.description %></li>
        <% }) %>
    </ul>
</body>
</html>
